p{
    font-weight: 100;
    text-align: center;
    font-size: large;
    color:yellow;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

.white_circle
{
    border-radius: 50%;
    margin-left:250px;
    width: 45px;
    height:45px;
    background-color: whitesmoke; 
    margin-top:75px
}

.white_circle :hover .white_text
{   
    opacity: 1;
}

.white_text{
    opacity: 0;
    transition: all 0.5s;
}

.red_circle
{
    border-radius: 50%;
    margin-left:6%;
    width: 3.5%;
    height:50%;
    background-color: red; 
    margin-top:10%;
}

.green_circle
{
    border-radius: 50%;
    margin-left:6%;
    width: 3.5%;
    height:50%;
    background-color: darkgreen; 
    margin-top:15%;
}

.title
{
    font-family: '"Lucida Console", "Courier New", monospace;';
    margin-left:320px;
    margin-top:-190px;
    color:white;
    font-size:50px;
}


.blue_bar
{
    width:6px;
    height: 125px;
    background-color:blue;
    margin-left:875px;
    margin-top:-85px;
}

.green_bar
{
    height:3px;
    width: 270px;
    background-color:darkgreen;
    margin-left:100px;
    margin-top:-60px;
}

.red_bar
{
    height:3px;
    width: 270px;
    background-color:red;
    margin-left:110px;
    margin-top:-50px;
}

.white_bar
{
    height:3px;
    width: 270px;
    background-color:whitesmoke;
    margin-left:110px;
    margin-top:-50px;
}

.intro_text
{
    font-family: '"Lucida Console", "Courier New", monospace;';
    font-size:20px;
    color:rgb(183, 181, 181);
    margin-left:900px;
}

.learn_more_box
{
    border-color:rgb(157, 3, 3);
    border-style: solid;
    border-radius: 5%;
    font-size:17px;
    color:rgb(157, 3, 3);
    margin-top:55px;
    margin-left:275px;
    font-family: '"Lucida Console", "Courier New", monospace;';
    width:150px;
    text-align:center;
    height:35px;
    border-width:thin;
    font-weight:550;
    vertical-align: middle;
    line-height: 35px;
}

.learn_more_box :hover {background-color: rgb(177, 81, 81); opacity: 25%;}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 25px solid #ffffff;
    margin-left:65px;
}

.scroll_bar
{
    width: 5px;
    height:50px;
    background-color: #ffffff;
    margin-left:68px;
    margin-top:-75px;
}

li {
    list-style: lower-greek;
    margin-left:30px; 
    margin-top:45px; 
    font-family: '"Lucida Console", "Courier New", monospace;'; 
    font-size:20px; 
    color:rgb(183, 181, 181); 
    margin-right:910px
 }

 .battery {
    border: 3px solid #333;
    width: 40px;
    height: 250px;
    padding: 2px;
    border-radius: 4px;
    position: relative;
    margin: 15px;
    border-color:aliceblue;
    transform:rotate(90deg);
 }

 .batteryLevel {
    border-radius: 2px;
    background-color: #73AD21;
  } 
  
  
  .ML_IMG{
    padding:1%;
    /*background-color: rgb(133, 128, 36);*/
    border-color: antiquewhite;
    border-style: solid;
    /* modify margin and padding here*/
    padding: 30px;
    margin: 25px;
    width:310px;
    margin-left: 50px;
    margin-top: 205px;
    font-family:'Spectral';
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:50%;
    border-color:aliceblue;
    margin-top: 500px;
    width: 250px;
    margin: 20px;
    padding: 50px;
    border: 2px solid aliceblue;
  }

  .JAVA_IMG{
    padding:1%;
    /*background-color: rgb(133, 128, 36);*/
    border-color: antiquewhite;
    border-style: solid;
    /* modify margin and padding here*/
    padding: 30px;
    margin: 25px;
    width:500px;
    margin-left: 50px;
    margin-top: 205px;
    font-family:'Spectral';
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:50%;
    border-color:aliceblue;
    margin-top: 500px;
    width: 250px;
    margin: 20px;
    padding: 50px;
    border: 2px solid aliceblue;
  }


  .container {
    display: grid;
    grid-template-rows: auto auto auto; /* Three rows of equal height */
  }

  .item {
    padding: 20px; /* Padding around grid items */
    border: .5px solid aliceblue; /* Border around grid items */
    width:450px;
  }

  .tooltip {
  margin-left:110px;
  display: inline-block;
  border-bottom: 1px dotted black; 
  color:green;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 125px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  margin-left:25px;
  margin-top:-7px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


.instruction_text
{
    font-family: Lucida Console, Courier New, monospace;
    color:whitesmoke;
    margin-top:-156px;
    font-size: 14px;
    margin-left:50px;
}

.instruction_bar
{
    height:3px;
    width: 270px;
    background-color:darkgreen;
    margin-left:100px;
    margin-top:-60px;
}
